{% extends 'template.html'%} {%block head%}
<link rel="stylesheet" href="../static/css/about.css" />
{%endblock%} {%block content%}
<section class="features">
  <div class="head">
    <h1>About Our Team</h1>
  </div>
  <div class="box">
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="../static/images/rk.jpg" alt="Jane" class="image" />
          <div class="container">
            <h4>Ritesh Kumar</h4>
            <p class="title">Roll No. BTECH/10301/19</p>
            <p>Mo. +91-6205152017</p>
            <p>btech10301.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/jsk.jpeg" alt="JSK" class="image" />
          <div class="container">
            <h4>Jasveen Singh Kohli</h4>
            <p class="title">Roll No. BTECH/10162/19</p>
            <p>Mo. +91-8209580675</p>
            <p>btech10162.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/sa.png" alt="SA" class="image" />
          <div class="container">
            <h4>Saumya Agrawal</h4>
            <p class="title">Roll No. BTECH/10673/19</p>
            <p>Mo. +91-7023632220</p>
            <p>btech10673.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/kg.jpg" alt="KG" class="image" />
          <div class="container">
            <h4>Kuber Gupta</h4>
            <p class="title">Roll No. BTECH/10710/19</p>
            <p>Mo. +91-9479314939</p>
            <p>btech10710.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/kb.jpeg" alt="KB" class="image" />
          <div class="container">
            <h4>Kanishk Bakolia</h4>
            <p class="title">Roll No. BTECH/10572/19</p>
            <p>Mo. +91-9110013320</p>
            <p>btech10572.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../static/images/kk.png" alt="Jane" class="image" />
          <div class="container">
            <h4>Kartik Kumar Singh</h4>
            <p class="title">Roll No. BTECH/10321/19</p>
            <p>Mo. +91-7004936967</p>
            <p>btech10321.19@bitmesra.ac.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Copyright &copy 2022 codeBytes</p>
</footer>
{%endblock%}
